[submodule "re-entrancy/lib/forge-std"]
	path = re-entrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "re-entrancy/lib/foundry-devops"]
	path = re-entrancy/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
